[mysqld]
max_allowed_packet=16M
character-set-server=utf8

# It is recommended that innodb_buffer_pool_size is configured to 50 to 75 percent of system memory.
innodb_buffer_pool_size = 64M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 16M
innodb_log_buffer_size = 16M

[client]
# Default is Latin1, if you need UTF-8 set this (also in server section)
default-character-set = utf8

[mysql]
# Default is Latin1, if you need UTF-8 set this (also in server section)
default-character-set = utf8